.header {
    display: flex;
    float: left;
    position:fixed;
    bottom: 0;
    z-index: 8;
    width: 100vw;
    height: 10vh;
    background-color: #ffffff;
    color: #444;
    align-items: center;
    text-decoration: none !important;
}
.cartbutton {
    width: 40%;
}
.count_p {
    font-size: 19px;
    font-weight: 500;
    width: 30%;
}
.btn_Cartbtn {
    font-size: 18px;
    font-weight: 100 !important;
    border: 0;
    background-color: #efa914;
    color: #ffffff;
    padding: 8px 17px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px -1px #333;
}
.btn_Cartbtn:hover {
    background-color: #ffffff;
    color: #efa914;
    border-color: #efa914;
    border-style: solid;
    border-width: 2px;
}