.fullcart {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    flex-direction: column;
}
.Cart_top_text {
    font-size: 43px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}
.Cart_Show {
    width: 80vw;
}
.Cart_top {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: center; 
}
.Cart_body {
    display: flex;
    width: 80vw;
    height: 10vh;
    align-items: center;
    background-color: #ffa500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 22px;
    font-weight: 700;
}
.Cart_body_sect1 {
    width: 10vw;
    align-items: center;
}
.Cart_body_sect2 {
    width: 50vw;
    align-items: center;
}
.Cart_body_sect3 {
    width: 10vw;
    align-items: center;
}
.Cart_body_sect4 {
    width: 10vw;
    align-items: center;
}
.showsession {
    display: flex;
    width: 80vw;
    height: 100px;
    background-color: #fff;
    font-size: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ffcccc;
}
.showsession_sect1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ecdede;
}
.showsession_sect1 img {
    width: 80px;
    height: 80px;
}
.showsession_sect2 {
    width: 50vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ecdede;
}
.showsession_sect2_1 {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 20px;
    height: 50px;
    font-weight: bold;
    overflow: hidden;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ffcccc;
}
.showsession_sect2_2 {
    display: flex;
    align-items: center;
    height: 50px;
    overflow: hidden;
}
.showsession_sect2_2_Descrip {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
}
.showsession_sect3 {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 10vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ecdede;
}
.showsession_sect4 {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 10vw;
}
.Cart_footer {
    display: flex;
    margin-top:3%;
    width: 80vw;
    align-items: center;
    background-color: #fff;
}
.Cart_footer_back {
    display: flex;
    align-items: center;
    margin-left: 27px;
    width: 20vw;
}
.Cart_footer_btn_back {
    font-size: 13px;
    font-weight: 100 !important;
    border: 0;
    background-color: #FF6666;
    color: #fff;
    padding: 12px 33px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px -1px #333;
}
.Cart_footer_btn_back:hover {
    background-color: #fff;
    color: #FF6666;
    border-style: solid;
    border-width: 2px;
    border-color: #FF6666;
}
.Cart_footer_sum {
    width: 40vw;
    font-size: 25px;
    font-weight: 700;
}
.Cart_footer_buy {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 27px;
    width: 20vw;
}
.Cart_btn_buy {
    font-size: 13px;
    font-weight: 100 !important;
    border: 0;
    background-color: #efa914;
    color: #ffffff;
    padding: 12px 33px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px -1px #333;
}
.Cart_btn_buy:hover {
    background-color: #ffffff;
    color: #efa914;
    border-style: solid;
    border-width: 2px;
    border-color: #efa914;
}