.GenviewDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.GenviewBody {
    width: 80vw;
    background-color: #fff;
    padding-left: 3%;
    margin-top: 10px;
}
.GenviewBody1 {
    display: flex;
    width: 80vw;
    height: 10vh;
}
.GenviewBody1_1 {
    display: flex;
    align-items: center;
    width: 25vw;
    height: 10vh;
    font-size: 20px;
    font-weight: 700;
}
.GenviewBody1_2 {
    display: flex;
    align-items: center;
    width: 10vw;
    height: 10vh;
    font-size: 20px;
    font-weight: 700;
}
.GenviewBody2 {
    display: flex;
    width: 80vw;
    height: 80px;
    margin-top: 10px;
}
.GenviewBody2_1 {
    display: flex;
    align-items: center;
    width: 25vw;
    padding-right: 10px;
    overflow: hidden;
}
.GenviewBody2_2 img {
    height: 80px;
    resize: both;
}
.GenviewBody2_2 {
    display: flex;
    align-items: center;
    width: 10vw;
    overflow: hidden;
}
.GenviewButtonClose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 10vh;
}
.Genview_Descrip {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.Genview_close_btn {
    font-size: 15px;
    background-color: #FF6666;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 10px 30px;
    box-shadow: 1px 1px 4px -1px #333;
}
.Genview_close_btn:hover {
    background-color: #fff;
    color: #FF6666;
    border-style: solid;
    border-width: 2px;
    border-color: #FF6666;
}