.Modal_component {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 15%;
    bottom: 10%;
    width: 40vw;
    height: 80vh;
    align-items: center;
}
.Modal_component_textp {
    margin-top: 5%;
    display: flex;
    width: 40vw;
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.Modal_component_TextField1 {
    margin-top: 5vh;
    width: 25vw;
    height: 10%;
}
.Modal_component_TextField2 {
    margin-top: 5vh;
    width: 25vw;
    height: 10%;
}
.Modal_component_button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10%;
    margin-top: 5vh;
}
.Modal_login_btn {
    font-size: 20px;
    padding: 12px 147px;
    background-color: blue;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.Modal_login_btn:hover {
    background-color: #fff;
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
}
.Modal_component_button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10%;
    margin-top: 3vh;
}
.Modal_regist_btn {
    font-size: 20px;
    padding: 12px 143px;
    background-color: #ff0028;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.Modal_regist_btn:hover {
    background-color: #fff;
    color: #ff0028;
    border-color: #ff0028;
    border-style: solid;
    border-width: 2px;
}