.Product_fullpage {
    display: flex;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
}
.Product_header {
    display: flex;
    width: 100vw;
    height: 10vh;
    left: 0;
    position: fixed;
    z-index: 15;
    top: 10vh;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: -6px -6px 8px 3px #888888;
}
.Product_header_sect1 {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 100%;
}
.Product_header_sect2 {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: left;
}
.Product_header_sect2 button {
    width: 30%;
    height: 50%;
    background-color: #00ced1;
    border-color: white;
    color: #daa520;
    border-radius: 5px;
    font-size: 20px;
}
.Product_body {
    margin-top: 10vh;
    width: 100vw;
    margin-bottom: 10vh;
}
.Product_body img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.product_bottom {
    width: 100vw;
    height: 3vh;
}
.Product_btn_Cart {
    position: absolute;
    position:fixed;
    z-index: 8;
    margin-top: 80vh;
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
}