.regist_full {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.regist_show {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    background-color: #fff;
}
.regist_left {
    display: flex;
    width: 50vw;
    height: 80vh;
}
.regist_left img {
    width: 100%;
    height: 100%;
}
.regist_right {
    width: 50vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.regist_right div {
    padding-bottom: 10px;
}
.regist_header {
    color: #777;
    font-size: 35px;
    font-weight: 700;
}
.regist_subtitle {
    color: #333;
    font-size: 20px;
}
.regist_text_id {
    width: 80%;
}
.regist_text_password {
    width: 80%;
}
.regist_text_email {
    width: 80%;
}
.regist_button_submit {
    width: 80%;
}