.UserHistory_Full {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}
.UserHistory_show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.UserHistory_Head_Topic {
    width: 100vw;
    height: 10vh;
    margin-top: 10px;
}
.UserHistory_Topic {
    font-size: 43px;
    font-weight: 700;   
    text-decoration: underline; 
    text-decoration-color: #ffa500;
}
.UserHistory_Table_Head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 90vw;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffa500;
    font-size: 22px;
    font-weight: 700;
}
.UserHistory_Table_Head1 {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UserHistory_Table_Head2 {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.UserHistory_Fullsect {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 90vw;
    background-color: #fff;
    font-size: 13px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ffcccc;
}
.UserHistory_sect1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ecdede;
}
.UserHistory_sect2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ecdede;
}
.UserHistory_sect3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ecdede;
}
.UserHistory_sect4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20vw;    
}
.UserHisotry_btn_detail {
    font-size: 13px;
    font-weight: 100 !important;
    border: 0;
    background-color: #efa914;
    color: #ffffff;
    padding: 9px 27px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px -1px #333;
}
.UserHisotry_btn_detail:hover {
    background-color: #ffffff;
    color: #efa914;
    border-color: #efa914;
    border-style: solid;
    border-width: 2px;
}