.UserInfo_Full {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.UserInfo_Body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    min-height: 45vh;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #000;
}
.UserInfo_Head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
    width: 30vw;
    background-color: #ffa500;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.UserInfo_Head_text {
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: #9a3a3a;
}
.UserInfo_sect1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    margin-top: 10px;
}
.UserInfo_Id {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 20vw;
    height: 9vh;
    font-size: 34px;
    font-weight: bold;
}
.UserInfo_Email {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 20vw;
    height: 8vh;
    font-size: 20px;
}
.UserInfo_sect2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 10vh;
}
.UserInfo_ButtonHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
}
.UserInfo_ButtonHistory_btn {
    font-size: 15px;
    border: 0;
    background-color: #efa914;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 7px;
    box-shadow: 1px 1px 4px -1px #333;
}
.UserInfo_ButtonHistory_btn:hover {
    background-color: #ffffff;
    color: #efa914;
    border-color: #efa914;
    border-style: solid;
    border-width: 2px;
}
.UserInfo_ButtonPathHome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
}
.UserInfo_ButtonPathHome_btn {
    font-size: 15px;
    background-color: #5f5454;
    color: #fff;
    border: 0;
    border-radius: 7px;
    padding: 10px 30px;
    box-shadow: 1px 1px 4px -1px #333;
}
.UserInfo_ButtonPathHome_btn:hover {
    background-color: #fff;
    color: #5f5454;
    border-style: solid;
    border-width: 2px;
    border-color: #FF6666;
}
.UserInfo_ButtonClose {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
}
.UserInfo_ButtonClose_btn {
    font-size: 15px;
    background-color: #FF6666;
    color: #fff;
    border: 0;
    border-radius: 7px;
    padding: 10px 34px;
    box-shadow: 1px 1px 4px -1px #333;
}
.UserInfo_ButtonClose_btn:hover {
    background-color: #fff;
    color: #FF6666;
    border-style: solid;
    border-width: 2px;
    border-color: #FF6666;
}