.Userbtn {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    border-radius: 24px;
    padding: 12px 26px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    box-shadow: 1px 1px 4px -1px #333;
}
.Userbtn:hover {
    background-color: #887777 ;
    color: #fff ;
    border-style: solid;
    border-width: 2px;
    border-color: #efa914;
}