.pic {
    display: flex;
    align-items: center;
    justify-content: center;  
}
.Pic_Div_01 {
    display: flex;
    width: 35%;
    height: 100%;  
    align-items: center;
    justify-content: center;
}
.Pic_Div_01 img {
    border-top-left-radius: 5px;
}
.pic_slide {
    width: 65%;
    height: 100%;
    margin-left: 20px;
}
.pic_slide01 {
    width: 30vw;
    height: 30vh;
    padding-top: 10px;
}
.pic_name {
    font-size: 20px;
    font-weight: 550;
    margin-top: 10px;
    text-align: left !important;
}
.pic_price {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
    text-align: left !important;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pic_option {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    text-align: left !important;
}
.pic_btnaddcart {
    width: 30vw;
    height: 10vh;
    margin-top: 11px;
}
.btn_product {
    background-color: #fff;
    color: #000000de;
    border: 0px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    padding: 7px 14px;
}
.btn_product:hover {
    background-color: #887777;
    color: #fff;
}