.PicSlide_Full {
    width: 100vw;
}
.PicSlide_Body {
    width: 80%;
    height: 80%;
}
.Picslide_pic {
    display: flex;
    width: 80vw;
    height: 80vh;
    background-color: #ffa500;
    border-radius: 5px;
}
.Picslide_pic_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 80vh;
}
.Picslide_pic_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 70vh;
}
.Picslide_pic_img img {
    max-width: 30vw;
    height: 70vh;
}
.Picslide_pic_right {
    margin-left: 20px;
    width: 40vw;
    height: 80vh;
}
.Picslide_name {
    margin-top: 20px;
    width: 40vw;
    height: 10vh;
    font-size: 30px;
    font-weight: 550;
}
.Picslide_name_text {
    text-align: left !important;
}
.Picslide_price {
    margin-top: 10px;
    width: 40vw;
    height: 10vh;
    font-size: 40px;
    font-weight: 550;
}
.Picslide_price_text {
    text-align: left !important;
}
.Picslide_option {
    margin-top: 10px;
    width: 40vw;
    height: 10vh;
    font-size: 25px;
    font-weight: 550;
}
.Picslide_text {
    text-align: left !important;
}