.Contact_Fullpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
}
.Contact_Body_Sect1 {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100vw;
    height: 10vh;
}
.Contact_Topic {
    font-size: 37px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #ffa500;
    margin-top: 20px;
}
.Contact_Show {
    width: 62vw;
    background-color: #ffa500;
    border-radius: 5px; 
    margin-top: 20px;
}
.Contact_Body {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 6vw;
}