.Header_Global_p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.Global_Link {
    text-decoration: none;
    color: black;
}
.Header_Global_h2 {
    font-size: 37px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: #ffa500;
}
a.MuiButtonBase-root {
    border-radius: 20px;
}
select {
    background-color: #daa520 !important;
}
a:-webkit-any-link {
    text-decoration: none !important;
}