.head {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100vw;
    height: 10vh;
    position: fixed;
    background-color: #ffa500;
    box-shadow:-6px -6px 10px 5px #888888;
}
.header_Body_sect1 {
    display: flex;
    width: 30vw;
    height: 10vh;
    align-items: center;
    font-size: 38px;
    font-weight: 700;
    padding-left: 20px;
}
.header_Body_sect2 {
    display: flex;
    width: 51vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
}
.header_row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 10vh;
}
.header_text {
    font-size: 20px;
    font-weight: 700;
}
.Header_Body_Sect2_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Header_Body_Sect2_1:hover {
    color: #fff;
    text-decoration: underline;
}
.Header_Body_Sect2_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
.Header_Body_sect3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 10vh;
}