.Home_Full {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}
.Home_Body {
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    margin-top: 20px;
}
.Home_Body_Sect1 {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100vw;
    height: 10vh;
}
.Home_Body_Sect2 {
    width: 80vw;
    height: 80vh;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 9px 7px 15px 0px #333;
}
